<!doctype html>
<html lang="ko">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>여행사</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon|Jua|Nanum+Gothic&display=swap&subset=korean"
    rel="stylesheet">
  <style>
    p {
      margin: 20px 0px;
    }

    p1 {
      font-family: 'Do Hyeon', sans-serif;
      font-size: 30px;
      color: blueviolet;
    }
    p2 {
            font-family: 'Jua', sans-serif;
            font-size: 45px;
            color: #e68f0c;
        }
        p3 {
            font-family: 'Jua', sans-serif;
            font-size: 30px;
            color: #e4ded7;
        }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
                <P3>TEAM06 - KUICK</P3>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link"> <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"></a>
                        </li>
                    </ul>
                </div>
            </nav>
            <ol class="breadcrumb">
                    <li class="breadcrumb-item" style="font-family : 'Jua'; font-size:22px; padding-left: 20px;"><a href="/home">홈</a></li>
                    <li class="breadcrumb-item" style="font-family : 'Jua';font-size:22px; padding-left: 20px;"> <a href="/city">도시별 여행지</a></li>
                    <li class="breadcrumb-item" style="font-family : 'Jua';font-size:22px; padding-left: 20px;"> <a href="/agency">여행사</a></li>
                    <li class="breadcrumb-item" style="font-family : 'Jua';font-size:22px; padding-left: 20px;"> <a href="/restaurant">식당</a></li>
                    <li class="breadcrumb-item" style="font-family : 'Jua';font-size:22px; padding-left: 20px;"> <a href="/festival">축제</a></li>
                    <li class="breadcrumb-item" style="font-family : 'Jua';font-size:22px; padding-left: 20px;"> <a href="/hotel">호텔</a></li>
                
                  </ol>


          <br><br>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#hana" style="font-weight:bold">하나투어</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#modoo" style="font-weight:bold">모두투어</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#interpark" style="font-weight:bold">인터파크투어</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#yellow" style="font-weight:bold">노랑풍선</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#travelphd" style="font-weight:bold">여행박사</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="hana">
                <p>

                    <br>
                    <table><tr>
                      <td>
                        <img src="img/hana2.jpg" width="200" style="border-radius: 2em">
                      </td>
                      <td width="600" class="text-center">
                        <span style = "font-weight: bold; font-size: 1.5em;  color: purple;" align="center">
                            하나투어<br><br>
                        </span>
                        <span style="font-size:1.1em;">
                          전화번호: 1577-1233<br>
                          홈페이지 주소: https://www.hanatour.com/
                          <a href="https://www.hanatour.com/"> 이동하기</a> <br>
                          사용자 만족도: 638<br>
                        </span>

                      </td>
                    </tr>
                    </table>

                </p>
              </div>
              <div class="tab-pane fade" id="modoo">
                <p>
                  <br>
                  <table><tr>
                    <td>
                  <img src="img/modoo.png" width="200" style="border-radius: 2em">
                </td>
                <td width="600" class="text-center">
                  <span style = "font-weight: bold; font-size: 1.5em;  color: green;" align="center">
                      모두투어<br><br>
                  </span>
                  <span style="font-size:1.1em;">
                    전화번호: 1544-5252<br>
                    홈페이지 주소: https://www.modetour.com/
                    <a href="https://www.modetour.com/"> 이동하기</a> <br>
                    사용자 만족도: 637<br>
                  </span>

                </td>
              </tr>
              </table>
                </p>
              </div>


              <div class="tab-pane fade" id="interpark">
                <p>
                <br>
                <table><tr>
                  <td>
                <img src="img/interpark.jpg" width="200" style="border-radius: 2em">
              </td>
              <td width="600" class="text-center">
                <span style = "font-weight: bold; font-size: 1.5em;  color: red;" align="center">
                    인터파크투어<br><br>
                </span>
                <span style="font-size:1.1em;">
                  전화번호: 1588-3443<br>
                  홈페이지 주소: https://www.tour.interpark.com
                  <a href="https://www.tour.interpark.com"> 이동하기</a> <br>
                  사용자 만족도: 621
                </span>

              </td>
            </tr>
            </table>
          </p>
              </div>


              <div class="tab-pane fade" id="yellow">
                <p>
                <br>
                <table><tr>
                  <td>
                <img src="img/yellowballoon.jpg" width="200" style="border-radius: 2em">
              </td>
              <td width="600" class="text-center">
                <span style = "font-weight: bold; font-size: 1.5em;  color: orange;" align="center">
                    노랑풍선<br><br>
                </span>
                <span style="font-size:1.1em;">
                  전화번호: 1544-2288<br>
                  홈페이지 주소: https://www.ybtour.co.kr/
                  <a href="https://www.ybtour.co.kr/"> 이동하기</a> <br>
                  사용자 만족도: 620
                </span>

              </td>
            </tr>
            </table>
          </p>
              </div>



              <div class="tab-pane fade" id="travelphd">
                <p>
                <br>
                <table><tr>
                  <td>
                <img src="img/travelphd.png" width="200" style="border-radius: 2em">
              </td>
              <td width="600" class="text-center">
                <span style = "font-weight: bold; font-size: 1.5em;  color: skyblue;" align="center">
                  여행박사<br><br>
                </span>
                <span style="font-size:1.1em;">
                  전화번호: 070-7017-2100<br>
                  홈페이지 주소: https://www.drtour.com
                  <a href="https://www.drtour.com"> 이동하기</a> <br>
                  사용자 만족도: 617
                </span>

              </td>
            </tr>
            </table>
          </p>
              </div>
            </div>


</body>

</html>